############################
# Android Studio
############################
.idea/
*.iml
.project
.settings
.cxx/
.externalNativeBuild
/build/
**/build/

############################
# Local configuration
############################
local.properties

############################
# Logs
############################
*.log

############################
# APK / AAB
############################
*.apk
*.aab
*.ap_

############################
# Firebase (SENSITIVE)
############################
app/google-services.json

############################
# Kotlin / Java
############################
*.class

############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# Test / Reports
############################
/captures/